<html>
    <head>
        <title>{{.}}</title>
    </head>
    <body>
        <div>
            <ul>
                {{range $value := .}}
                <li>
                    ID : {{$value.ID}}
                    Name : {{$value.Name}},
                    Age : {{$value.Age}},
                    Division : {{$value.Division}}
                </li>
                {{end}}
            </ul>
            
        </div>
    </body>
    
</html>